<!doctype html>
<html>
  <head>
    <title>Upload SRT and Convert to Word</title>
  </head>
  <body>
    <h2>Upload and Convert SRT File</h2>
    {% if message %}
      <p>{{ message|safe }}</p>
    {% endif %}
    <form method=post enctype=multipart/form-data>
      <input type=file name=file><br><br>
      <label for="max_length">Max Length of Each Segment:</label>
      <input type="number" id="max_length" name="max_length" value="200"><br><br>
      <label for="comma_threshold">Comma Threshold (in ms):</label>
      <input type="number" id="comma_threshold" name="comma_threshold" value="1000"><br><br>
      <label for="period_threshold">Segment Threshold (in ms):</label>
      <input type="number" id="period_threshold" name="period_threshold" value="3000"><br><br>
      <input type=submit value="Upload and Convert">
    </form>
  </body>
</html>
